<%- include('parciales/header') -%>

<div class="d-flex align-content-center border-success" style="border-style: ridge; margin: 1em;">
    <div>
        <% registros.forEach(unRegistro => { %>
        <!-- Horizontal desde https://getbootstrap.com/docs/4.3/components/card/-->
        <div class="card mb-3" style="max-width: 1024px;">
            <div class="row no-gutters">
            <div class="col-md-4">
                <img src="<%= unRegistro.urlImagen %>" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title"><%= unRegistro.titulo %></h5>
                <p class="card-text"><%= unRegistro.contenido %></p>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <small class="text-muted">
                        Creado el <%= new Date(unRegistro.createdAt).toLocaleDateString() %>
                    </small>
                </div>
            </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div>agregar</div>
</div>

  <!-- Horizontal desde https://getbootstrap.com/docs/4.3/components/card/-->
<!--
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
-->


  <!-- Kitchen sink desde https://getbootstrap.com/docs/4.3/components/card/-->
<!--
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
-->



<%- include("parciales/footer") -%>